.song-img {
  border-radius: 50%;
}

.audio {
  width: 75%;
}

.play {
  font-size: 2.5rem;
  margin: 0 5px;
  transition: 0.2s ease-in-out;
}

.pause {
  font-size: 2.5rem;
  margin: 0 5px;
  transition: 0.2s ease-in-out;
}

.play:hover {
  color: rgb(59, 148, 59);
  transition: 0.2s ease-in-out;
}

.pause:hover {
  color: rgb(160, 55, 55);
  transition: 0.2s ease-in-out;
}

.play:active {
  font-size: 2.3rem;
  transition: 0.1s ease-in-out;
}

.pause:active {
  font-size: 2.3rem;
  transition: 0.1s ease-in-out;
}
